/////////////////////////
// BOOTSTRAP OVERRIDES //
/////////////////////////

.border-radius(@radius) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
  display: block;
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

.navbar .dropdown-menu {
  margin-top: 0px;
}

/////////////
// NETWORK //
/////////////

.tpt_navigation-emblem {
  float: left;
  background-image: url('../../../assets/img/emblem.png');
  display: block;
  width: 36px;
  height: 36px;
  margin-top: 3px;
  margin-right: 3px;
}

////////////
// HEADER //
////////////

.tpt_header {
  background-image: url('../../../assets/img/header.png');
  height: 150px;
  background-position: left bottom;
  background-size: cover;
  padding-left: 30px;
  padding-top: 4px;
  overflow: hidden;
  margin-top: 41px;
  margin-bottom: 20px;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.4), inset 0 -3px 7px rgba(0,0,0,.4);
}

.tpt_header-logo {
  background-image: url('../../../assets/img/logo.png');
  width: 600px;
  height: 149px;
}

// tablet to desktop
@media (min-width: 768px) and (max-width: 979px) {

  .tpt_header {
    margin-top: -20px;
    margin-right: -20px;
    margin-left:  -20px;
  }

}

// tablet
@media (max-width: 767px) {

  .tpt_header {
    margin-top: -20px;
    margin-right: -20px;
    margin-left:  -20px;
    height: 85px;
    padding-top: 10px;
  }

  .tpt_header-logo {
    background-image: url('../../../assets/img/logo-small.png');
    width: 300px;
    height: 75px;
  }

}

// phone
@media (max-width: 480px) {

  .tpt_header {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    height: 68px;
    padding-top: 10px;
    padding-left: 26px;
  }

  .tpt_header-logo {
    background-image: url('../../../assets/img/logo-tiny.png');
    width: 235px;
    height: 58px;
  }

}