///////////////
// VARIABLES //
///////////////

@standard-item-bg: white;
@standard-item-input-active: white;
@standard-sidebar-item-border: white;
@standard-sidebar-item-active: white;
@standard-sidebar-bg: white;
@standard-sidebar-border: white;
@standard-button-bg-active: white;
@standard-table-bg-active: white;
@standard-typeahead-bg: white;
@standard-typeahead-border: white;
@standard-typeahead-color-hover: white;
@standard-typeahead-bg-hover: white;